
.errors{
	padding: 5px;
	text-align: center;
}

.error{
	padding: 10px;
	border-radius: 5px;
}

form{
	width: 70%;
	background-color: white;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

input, select{
	width: 50% !important;
	margin: 5px auto;
}

